/*!
Theme Name: omik-blog-theme-blog-theme
Theme URI: https://v92.pl
Author: Rafal Macyszyn
Author URI: https://v92.pl
Description: This is a theme for use on v92.pl blog
Version: 0.1.0
Tested up to: 5.7
Requires PHP: 5.7
License: BSD-3-Clause
License URI: https://opensource.org/licenses/BSD-3-Clause
Text Domain: omik-blog-theme
Tags: custom
Here should be some description. I'm lazy, so there isn't one.
*/

/* region Global things */

html {
    height: 100%;

    --color-light1: #FAF9F0;
    --color-light2: #F0EFE4;
    --color-light3: #F5F4EB;

    --color-lblue1: #72B7BC;
    --color-lblue2: #E6F8EB;

    --color-dblue1: #102940;
    --color-dblue2: #1E4C78;

    --color-red1: #962D26;

    --color-brown1: #BD872A;

    --color-black1: #000000;

    --color-muted1: #445055;
}

body {
    height: 100%;
    background-color: var(--color-light1);
    color: var(--color-black1);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 0.2em;
    color: var(--color-dblue1);
}

h1 {
    font-size: 2.5em;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted currentColor;
    color: var(--color-dblue2);
}
/* endregion */

/* region Font settings */
@font-face {
    font-family: 'Lato';
    font-weight: 400;
    src: url("font/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: italic;
    src: url("font/Lato/Lato-Italic.ttf");
}

@font-face {
    font-family: 'Lato';
    font-weight: 300;
    src: url("font/Lato/Lato-Light.ttf");
}

@font-face {
    font-family: 'Lato';
    font-weight: 300;
    font-style: italic;
    src: url("font/Lato/Lato-LightItalic.ttf");
}

@font-face {
    font-family: 'Lato';
    font-weight: bold;
    src: url("font/Lato/Lato-Bold.ttf");
}

@font-face {
    font-family: 'Lato';
    font-weight: bold;
    font-style: italic;
    src: url("font/Lato/Lato-BoldItalic.ttf");
}

@font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: url("font/Lato/Lato-Black.ttf");
}

@font-face {
    font-family: 'Lato';
    font-weight: 900;
    font-style: italic;
    src: url("font/Lato/Lato-BlackItalic.ttf");
}

@font-face {
    font-family: 'Merriweather';
    font-weight: 300;
    src: url("font/Merriweather/Merriweather-Light.ttf");
}

@font-face {
    font-family: 'Merriweather';
    font-weight: 300;
    font-style: italic;
    src: url("font/Merriweather/Merriweather-LightItalic.ttf");
}

@font-face {
    font-family: 'Merriweather';
    font-weight: 400;
    src: url("font/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
    font-family: 'Merriweather';
    font-weight: 400;
    font-style: italic;
    src: url("font/Merriweather/Merriweather-Italic.ttf");
}

@font-face {
    font-family: 'Merriweather';
    font-weight: bold;
    src: url("font/Merriweather/Merriweather-Bold.ttf");
}

@font-face {
    font-family: 'Merriweather';
    font-weight: bold;
    font-style: italic;
    src: url("font/Merriweather/Merriweather-BoldItalic.ttf");
}
/* endregion */

/* region Page style */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Lato', sans-serif;

    hyphens: auto;
}

#page {
    width: 100%;
    max-width: 95vw;
    margin: 1em auto;
    flex-grow: 1;
    font-size: 12pt;
}
/* endregion */

/* region Article/Nav container */
#frame {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#frame > * {
    margin: 1em;
}

#frame > nav {
    flex: 3;
    flex-shrink: 0;
    border-left: 1px solid var(--color-dblue1);
    padding: 0 2vh;
    min-width: 10em;
    max-width: 15em;
}

nav section ul {
    list-style-type: circle;
    margin-top: 0;
    padding-left: 2em;
}

nav section .nav-title {
    font-size: 1.3em;
    font-weight: 300;
}

nav section a {
    color: var(--color-dblue2);
    border-bottom: 1px dotted currentColor;
}

nav section a:hover {
    color: var(--color-dblue1);
}

/* endregion */

/* region Article container style */
#frame #article-container {
    flex: 10;
    flex-shrink: 1;
    min-width: min(576px, calc(100vw - 2em));
    max-width: 70em;
}

#skip-to-nav {
    display: none;
}

@media (max-width: 576px) {
    #skip-to-nav {
        display: block;
        margin: 0.5em auto;
        text-align: center;
    }
}
/* endregion */

/* region Article style */
article {

}

#article-container article h1 {
    margin-top: 0;
}

article .entry-content > * {
    line-height: 1.6em;
    font-weight: 300;
    font-family: 'Merriweather', serif;

    max-width: 60em;
    margin: 0.1em auto 0;
}

article p.code {
    border: 1px solid var(--color-lblue1);
    border-radius: 3px;
    padding: 3px;

    color: var(--color-dblue1);
}

article figure img {
    max-width: 100%;
    height: auto;
}

article figure {
    margin: 1.5em auto;
    text-align: center;
    padding: 0.5em;
}

article figure figcaption {
    margin-top: 0.5em;
    font-style: italic;
    font-size: 1.1em;
}

article .entry-header {
    color: var(--color-muted1);
}

article .entry-footer {
    color: var(--color-muted1);
}

article .entry-footer > span:not(:first-child)::before {
    padding: 0 0.3em;
    content: "•";
}

article .entry-content {
    margin-top: 1em;
    margin-bottom: 1em;
}
/* endregion */

/* region Single article style */
#article-container > article .article-single {

}

#article-container > article .article-single h1 {
    font-weight: 900;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: min(300%, 10vw);
}
/* endregion */

/* region Article list style */
#article-container > article.article-multi {
    border-left: 1px solid var(--color-lblue1);
    margin-bottom: 3em;
    padding: 0.5em;
}

#article-container > article.article-multi h2.entry-title {
    margin: -0.5em 0 0.3em;
    font-size: 1.5em;
}

#article-container > article.article-multi h2.entry-title a {
    border: none;
}
/* endregion */

/* region Article style - header image */
#article-container article .post-thumbnail img {
    width: 100%;
    max-height: 10em;
    object-fit: cover;
}

#article-container article .post-thumbnail img {
    width: 100%;
    max-height: 10em;
    object-fit: cover;
}
/* endregion */

/* region Header style */
header {
    max-width: 75%;
    text-align: center;
    margin: 0 auto 1em;
    color: var(--color-black1);
}

header .title {
    font-weight: 900;
    font-size: clamp(1.5rem, 5vw, 3.5rem);
}

header .subtitle {
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 2rem);
    font-style: italic;
}

header a {
    color: inherit;
    text-decoration: none;
    border: none;
}

header a:hover {
    border-bottom: 2px dotted currentColor;
}
/* endregion */

/* region Footer style */
footer {
    margin: 1em 0;
    flex-grow: 0;
    padding: 0.2em 2em 0.5em;
    text-align: right;
    border-top: 1px solid var(--color-dblue1);
}
/* endregion */

/* region Dark mode */
@media (prefers-color-scheme: dark) {
    html {
        --color-light1: #1D2224;

        --color-lblue1: #4B4946;
        --color-lblue2: #E6F8EB;

        --color-dblue1: #a0a0a0;
        --color-dblue2: #909090;

        --color-black1: #BBBBBB;
    }

    article p {
        font-weight: 400;
    }
}
/* endregion */
